In [24]:
import pandas as pd

data = pd.read_csv('EmployeeAttrition.csv')

In [25]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [26]:
#Check the head of the DataFrame.
print(data.head())
print(data.count)

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]
<bound method DataFrame.count of       Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]>

In [126]:
#Q1: Find the number of entries/rows and columns in the data.
 
x=data.shape[0]
y=data.shape[1]
print("1)   No of Rows and Columns: ")
print(x,y)
#Q2: What is the average Monthly Income?

m=data["MonthlyIncome"].mean()
print("2) The Mean Monthly salary is ")
print(m)

#Q3: What is the highest amount of HourlyRate ?
x=data["HourlyRate"].max()
print("3) Highest amount of HourlyRate is")
print(x)

#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?
df = pd.DataFrame(data, columns = ['Department','JobRole','MaritalStatus','OverTime','EmployeeNumber'])
x=df[df['EmployeeNumber']==10]
print("4) The Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10")
print(x)

#Q5: What is the Employee ID of highest MonthlyIncome paid employee?
df = pd.DataFrame(data, columns = ['EmployeeNumber','MonthlyIncome'])
x=df[df['MonthlyIncome']==df['MonthlyIncome'].max()]
print("5) The Employee ID of highest MonthlyIncome paid employee")
print(x)

#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58. (hint: use groupby function)
df= pd.DataFrame(data, columns = ['Age','DailyRate'])
df=df[df['Age']>58]
x=df.groupby('DailyRate').mean()
print("6) The average(mean) DailyRate group by Age for all Employees whose age is greater than 58")
print(x)

#Q7: How many unique EducationField are there?
df=data['EducationField'].unique()
x=len(df)
print("7) No of unique EducationField:")
print(x)

#Q8: What are the top 5 most common JobRole?
df = pd.DataFrame(data,columns=['JobRole','EmployeeNumber'])
df1=df.groupby(['JobRole'])['EmployeeNumber'].agg(['count'])
df2=df1.sort_values(by='count', ascending=False).head(5)
print("8) Top 5 most common JobRole:")
print(df2)

#Q9: How many JobRoles represented by less than 100 employees?
df = pd.DataFrame(data,columns=['JobRole','EmployeeNumber'])
df1=df.groupby(['JobRole'])['EmployeeNumber'].agg(['count'])
df2=df1[df1['count']<100]
print("9) JobRoles represented by less than 100 employees")
print(df2)

#Q10: What is the correlation between Education and JobSatisfaction?
df=data[['Education','JobSatisfaction']]
correlation = df.corr(method='pearson')
print(correlation)
print("10) Correlation is -0.011296")

1)   No of Rows and Columns:
1470 35
2) The Mean Monthly salary is
6502.931292517007
3) Highest amount of HourlyRate is
100
4) The Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10
               Department                JobRole MaritalStatus OverTime  \
6  Research & Development  Laboratory Technician       Married      Yes

   EmployeeNumber
6              10
5) The Employee ID of highest MonthlyIncome paid employee
     EmployeeNumber  MonthlyIncome
190             259          19999
6) The average(mean) DailyRate group by Age for all Employees whose age is greater than 58
           Age
DailyRate
142         59
326         59
370         60
422         60
696         60
715         59
818         59
1089        59
1179        60
1225        59
1324        59
1420        59
1429        59
1435        59
1499        60
7) No of unique EducationField:
6
8) Top 5 most common JobRole:
                           count
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
9) JobRoles represented by less than 100 employees
                      count
JobRole
Human Resources          52
Research Director        80
Sales Representative     83
                 Education  JobSatisfaction
Education         1.000000        -0.011296
JobSatisfaction  -0.011296         1.000000
10) Correlation is -0.011296